@import "tailwindcss";

@font-face {
  font-family: Jetbrain;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/jetbrains-mono-v24-latin-800.woff2") format("woff2");
}

@theme {
  /* Fonts COLLECTION */
  --font-mono: "Jetbrain", monospace;

  /* Colors COLLECTION */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;
  --color-green-200: #a4ffaf;
  --color-grey-700: #54535b;
  --color-grey-900: #14131b;
  --color-grey-950: #08070b;
}

/* Typography COLLECTION */
@utility text-preset-1 {
  font-family: var(--font-mono);
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: 0;
}
@utility text-preset-2 {
  font-family: var(--font-mono);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
}
@utility text-preset-3 {
  font-family: var(--font-mono);
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}
@utility text-preset-4 {
  font-family: var(--font-mono);
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-grey-950);
  font-family: var(--font-mono);
}

/* Styles généraux pour le slider */
input[type="range"] {
  appearance: none;
  -webkit-appearance: none; /* Supprime les styles par défaut de Webkit */
  width: 100%; /* Largeur du slider */
  height: 0.5rem; /* Hauteur de la barre (track) */
  background: transparent; /* Masque la barre par défaut pour pouvoir la styliser */
  margin: 0.625rem 0;
  cursor: pointer;
}

/* Styles pour le track (barre) */
/* Webkit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    to right,
    var(--color-green-200) var(--fill),
    var(--color-grey-850) var(--fill)
  ); /* Couleur de la barre */
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Mozilla (Firefox) */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  background: linear-gradient(
    to right,
    var(--color-green-200) var(--fill),
    var(--color-grey-850) var(--fill)
  ); /* Couleur de la barre */
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Microsoft (IE, Edge Legacy) */
input[type="range"]::-ms-track {
  width: 100%;
  height: 0.5rem;
  background: transparent; /* Cache le track par défaut pour styliser les fill-lower/upper */
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
input[type="range"]::-ms-fill-lower {
  background: #007bff; /* Couleur différente pour la partie "remplie" */
}

/* Styles pour le thumb (curseur) */
/* Webkit (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Supprime les styles par défaut de Webkit */
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%; /* Forme ronde */
  background: var(--color-grey-200); /* Couleur du thumb */
  cursor: grab;
  margin-top: -0.375rem; /* Ajuste la position verticale pour le centrer sur le track */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border: none;
}

/* Mozilla (Firefox) */
input[type="range"]::-moz-range-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--color-grey-200); /* Couleur du thumb */
  cursor: grab;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Microsoft (IE, Edge Legacy) */
input[type="range"]::-ms-thumb {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--color-grey-200); /* Couleur du thumb */
  cursor: grab;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-top: 0; /* Pas besoin de margin-top pour IE */
}

/* Custom Check */
input[type="checkbox"]:checked::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
